<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%n[%p] %d{HH:mm:ss} %logger{0}.%M %highlight{:> %msg }{INFO=white, TRACE=blue, DEBUG=green, WARN=red }"/>
        </Console>
        <File fileName="target/logs/log.txt" name="FileLog">
            <PatternLayout
                    disableAnsi="true"
                    pattern="%n[%p] %d{HH:mm:ss} %logger{0}.%M %highlight{:> %msg }{INFO=white, TRACE=blue, DEBUG=green, WARN=red }"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="FileLog"/>
        </Root>
    </Loggers>
</Configuration>